<nav class="flex">
    <img class="logo" src="../../assets/images/TBP-Logo.png" alt="Logo">
</nav>
<div class="home-container flex">
    <div class="login-reg-wrapper flex column">
        <h2>Company</h2>
        <br>
        <div class="links flex">
            <div (click)="handleClick('login')" class="link" [ngClass]="login ? 'active' : null" id="login">Login</div>
            <div (click)="handleClick('register')" class="link" [ngClass]="!login ? 'active' : null" id="register">Register</div>
        </div>
        <app-company-login *ngIf="login"></app-company-login>
        <app-company-register *ngIf="!login"></app-company-register>
        <div>
            <br>Not a company?
            <a routerLink="">Click here</a>
        </div>
    </div>
</div>
