<nav>
	<img src="">
</nav>
<div id="profile_bar">
	<div>
		<h2>James Doe</h2>
		<img src="">
		<button>Edit Profile</button>
	</div>
	<div>
		<h2>Saved Jobs</h2>
	</div>
	<div>
		<h2>Applied Jobs</h2>
	</div>
</div>

<div>
	<div id="search_bar">
		<input type="text" name="search">
		<div class="dropdown-menu">
			<button class="dropbtn">Dropdown</button>
			<div class="dropdown-content">
			    <a href="#">Link 1</a>
			    <a href="#">Link 2</a>
			    <a href="#">Link 3</a>
			</div>
		</div>
		<button>Search</button>
	</div>
	<div id="job_feed">
		<!-- jobs -->
	</div>
</div>