.no-point { pointer-events: none; }

.profile-setup-container {
    width: 100%;
    height: 100%;
    padding: 15px 35px;
    background: url('../../assets/images/newuser-bg.png');
    background-repeat: no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

app-step-one, app-step-two, app-step-three {
    width: 85%;
    min-height: 400px;
    justify-content: space-between;
    position: relative;
}

.logo-wrap {
    position: absolute;
    top: 10px;
    left: 30px;
    height: 50px;
}

.profile-setup-wrapper {
    width: 65%;
    min-width: 340px;
    border-radius: 1px;
    padding: 20px 30px;
    background: rgba(0,0,0,.83);
    margin-top: 100px;
    color: white;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
}

@media screen and (max-width: 500px) {
    .profile-setup-container {
        justify-content: space-around;
        padding: 0;
        flex-direction: column;
    }
        
    .logo-wrap {
        position: relative;
        left: auto;
    }

    .profile-setup-wrapper { width: 90%; margin-top: 0; }
}