<nav class="flex">
	<img class="TBP-Logo" src="../../assets/images/TBP-Logo.png" alt="logo">
	<button (click)="logout()" mat-button class="lg-btn btn">Logout</button>
	</nav>
	<div class="profile-container flex column">
	  <div class="main-wrapper flex column">
		<div class="form-wrapper flex column">
			<div class="form-top flex">
			  <div class="form-top-left flex column">
					<div class="photo-wrapper">
						<img class="pro-pic no-point" [src]="img" alt="Profile Photo">
					</div>
					<div class="round side btn flex">
						<button (click)="download($event)" mat-button class="btn side">Download Resume</button>
					</div>
				</div>
				<div class="form-top-right">
						<div class="name-wrapper name flex">
								<div class="name content">{{applicant['firstName']}}</div>
								<div class="name content">{{applicant['lastName']}}</div>
							</div>
						<table>
							<tr>
								<td>Phone: {{applicant['phoneNumber']}}</td>
								<td>Email: {{applicant['email']}}</td>
							</tr>
							<tr>
								<td>Language: {{applicant['language']}}</td>
								<td>Location: {{applicant['location']}}</td>
							</tr>
						</table>
				</div>
			  <!-- <div class="form-top-right">
					<div class="name-phone-wrapper flex column">

						<div class="name-wrapper flex">
							<div class="content">Phone: {{applicant['phoneNumber']}}</div>
							<span>&nbsp;|&nbsp;</span>
							<div class="content">Email: {{applicant['email']}}</div>
						</div>
						<div class="name-wrapper flex">
							<div class="content">Language: {{applicant['language']}}</div>
							<span>&nbsp;|&nbsp;</span>
							<div class="content">Location: {{applicant['location']}}</div>
						</div>
					</div>
			  </div> -->
			</div>
			<div class="av-wrapper">
			  <div class="form-group flex column">
					<div class="form-group-header">Preferred Shift(s)</div>
					<div class="flex check-container">
						<div class="check-wrapper flex">
							<div class="mat-fab flex" [ngClass]="morning ? 'active' : ''" id="morning">Morning</div>
						</div>
						<div class="check-wrapper flex">
							<div class="mat-fab flex" [ngClass]="noon ? 'active' : ''" id="noon">Noon</div>
						</div>
						<div class="check-wrapper flex">
							<div class="mat-fab flex" [ngClass]="night ? 'active' : ''" id="night">Night</div>
						</div>
						<div class="check-wrapper flex">
							<div class="mat-fab flex" [ngClass]="graveyard ? 'active' : ''" id="graveyard">Graveyard</div>
						</div>
					</div>
			  </div>
			</div>
			<div class="jt-wrapper flex">
			  <div class="form-group flex column">
				  <div class="form-group-header">Preferred Job Type(s)</div>
				  <div class="flex check-container">
					  <div class="check-wrapper flex">
						  <div class="mat-fab flex" [ngClass]="ft ? 'active' : ''" id="ft">Full-Time</div>
					  </div>
					  <div class="check-wrapper flex">
						  <div class="mat-fab flex" [ngClass]="pt ? 'active' : ''" id="pt">Part-Time</div>
					  </div>
					  <div class="check-wrapper flex">
						  <div class="mat-fab flex" [ngClass]="temp ? 'active' : ''" id="temp">Temp</div>
					  </div>
				  </div>
			  </div>
			</div>
			<div class="space form-group">
				<div class="group-header">Skills</div>
				<div class="content">{{applicant['skillsSet']}}</div>
			</div>
			  <div class="space form-group">
				  <div class="group-header">Introduction</div>
				  <div class="content">{{applicant['introduction']}}</div>
			  </div>
				<button (click)="backButton()" class="back-btn btn" mat-button>Back</button>
			</div>
		</div>
	</div>