<form [formGroup]="companyForm" class="flex column">
	<mat-form-field>
		<input matInput placeholder="Email" name="email" formControlName="email">
		<mat-error *ngIf="companyForm.get('email').touched && companyForm.get('email').hasError('email')">
			Please enter a valid email address
		</mat-error>
		<mat-error *ngIf="companyForm.get('email').touched && companyForm.get('email').hasError('required')
		&& !companyForm.get('email').hasError('email')">
			Email is <strong>required</strong>
		</mat-error>
	</mat-form-field>
	<mat-form-field>
		<input matInput placeholder="Password" formControlName="password">
		<mat-error *ngIf="companyForm.get('password').touched && companyForm.get('password').hasError('required')">
			Password is <strong>required</strong>
		</mat-error>
	</mat-form-field>
	<div (click)="login()" class="submit-login flex">Login</div>
</form>