<div class="main flex">
	<img class="biz-logo" src="../../assets/images/profile-icon.png">
	<div class="inner_text">
		<h2 class="title">{{app['title']}}</h2>
		<div class="company">{{app['company']}}</div>
		<div class="details">
			<div>Location: {{app['location']}}</div>
			<div>Shift: {{app['shift']}}</div>
			<div>Type: {{app['appType']}}</div>
		</div>
		<p class="desc">{{app['description']}}</p>
		<ul *ngIf="!show">
			<li>Shift: {{app['shift']}}</li>
			<li>Accessible by public transportation: {{isAccessible}}</li>
		</ul>
	</div>
	<div class="right_side_nav">
		<div (click)="message()" class="btn flex">Message</div>
		<div (click)="message()" class="btn flex">Cancel</div>
		<p *ngIf="show" class="toggle" (click)="toggle()">More</p>
		<p *ngIf="!show" class="toggle" (click)="toggle()">Less</p>
	</div>
</div>