.alert {
    top: -6px;
    position: absolute;
}

.select {
    align-items: center;
}

.err {
    color: rgb(211, 29, 29);
}

.listing-container {
    align-items: center;
    justify-content: center;
    min-height: 100%;
    width: 100%;
    background: url('../../assets/images/login-bg.png');
    background-repeat: no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    justify-content: center;
    overflow: hidden;
}

.form-wrapper {
    width: 45%;
    border-radius: 1px;
    padding: 20px 30px;
    background: rgba(0,0,0,.83);
    position: relative;
    color: white;
    align-items: center;
    overflow-y: auto;    
}

form {
    width: 80%;
    align-items: center;
    margin: 15px auto 0;
}
.form-group {
    width: 100%;
    margin-bottom: 15px;
    position: relative;
}

.form-group-header {
    font-size: 15px;
    font-weight: bold;
}

input {
    height: 18px;
    outline: none;
    background: transparent;
    color: white;
    margin-top: 15px;
    font-size: 16px;
    padding-bottom: 2px;
    border: none;
    border-bottom: 1px solid white;
}

select {
    height: 20px;
    flex: 1;
    margin-left: 10px;
}

label {
    font-size: 16px;
    color: gray;
}

.description {
    font-size: 16px;
    resize: none;
    height: 60px;
}

.submit-create {
    height: 30px;
    cursor: pointer;
    width: 100px;
    background: #1592aa;
    align-items: center;
    color: white;
    justify-content: center;
}

.accept { align-items: center; margin-top: 5px; }
