<form>
	<p>Title: <input type="text" name="title"></p>
	<p>description: <input type="text" name="description"></p>
	<p>responsibilities: <input type="text" name="responsibilities"></p>
	<p>experience: <input type="text" name="experience"></p>
	<p>shift: 
		<select>
		  	<option value="Morning">Morning</option>
		  	<option value="Noon">Noon</option>
		  	<option value="Night">Night</option>
		  	<option value="Temporary">Temporary</option>
		</select>
	</p>
	<p>Public Transport Available:
		<select>
			<option value="true">Yes</option>
			<option value="false">No</option>
		</select>
	</p>
	<p>Location: <input type="text" name="location"></p>
	<p>Minimum Salary: <input type="text" name="minSal"></p>
</form>