nav {
    height: 120px;
    display: block;
}
nav img {
	margin-top: 10px;
    margin-left: 30px;
}
#profile_bar {
	margin: 0px 10px 0px 30px;
	display:inline-block;
}
#profile_bar div {
	background-color: grey;
	padding: 30px;
	margin-bottom: 10px;
	text-align: center;
}
#profile_bar div img {
	display: block;
	margin: auto;
	margin-bottom: 10px;
}

.main-container {
	vertical-align: top;
	display: inline-block;
	background-color: grey;
	padding: 10px;
	width: 65%;
}

#search_bar {
	display: flex;

}

#search_bar *{
	margin: 0px 5px;
	vertical-align: top;
}
#textInput {
	flex: 10;
	height: 30px;
}

button {
    height: 30px;
    cursor: pointer;
    width: 100px;
    background: #0098af;
    align-items: center;
    color: white;
    justify-content: center;
    border:none;
}

.dropbtn {
	background-color: #4b1900;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
	position: absolute;
	background-color: white;
	border: 3px solid #4b1900;
}

.col a {
	display: block;
	color: black;
	padding: 12px 16px;
    text-decoration: none;
}

.mid {
	border-left: 2px solid #4b1900;
	border-right: 2px solid #4b1900;
}

#job_feed {
	margin: 20px 5px 0px 5px;
	width: 99%;
}
.job_cell {
	padding: 10px 20px;
	background-color: white;
	width: 100%;
}

.checkbox_div *{
	display: inline-block;
}
