<section id="main">
	<nav>
		<img class="TBP-Logo" src="../../assets/images/TBP-Logo.png" alt="logo">
		<div (click)="logout()" class="btn flex logout">Logout</div>
	</nav>
	<section id="content" class="flex">
		<div id="profile_bar">
			<div>
				<h2>{{user['firstName']}} {{user['lastName']}}</h2>
				<img src="../../assets/images/profile-icon.png">
				<button (click)="goToEditProfile()" >Edit Profile</button>
			</div>
			<div>
				<h2>Saved Jobs</h2>
			</div>
			<div>
				<h2>Applied Jobs</h2>
			</div>
		</div>
		<div class="main-container">
			<div id="search_bar" class="flex search">
				<mat-form-field>
					<input matInput type="search" (click)="handleSearch($event)" placeholder="Search" name="search">
				</mat-form-field>
				<div class="icons flex">
					<div class="flex caret-wrapper mag">
						<i class="fa fa-search" aria-hidden="true"></i>
					</div>
					<div (click)="searchClick()" class="flex caret-wrapper caret">
						<i class="fa fa-caret-down" id="caret" aria-hidden="true"></i>
					</div>
				</div>
			</div>
			<div class="filter-menu" [@slideAnimation] *ngIf="search">
				<app-filter></app-filter>
			</div>
			<div id="job_feed">
				<app-job-cell *ngFor="let job of jobs" [job]="job"></app-job-cell>
			</div>
		</div>
	</section>
</section>

