nav {
    height: 80px;
	position: fixed;
	top: 0;
	width: 100%;
	background: white;
	z-index: 10;
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
	align-items: center;
}
nav img {
	height: 60px;
}

.btn {
    height: 30px;
	cursor: pointer;
	font-size: .8rem;
    width: 100px;
    background: #1592aa;
    align-items: center;
    color: white;
    justify-content: center;
	transition: all .2s ease;
}

.btn:hover {
    transform: translateY(-1px);
}

.btn:active {
    transform: translateY(1px);
}

#content {
	max-width: 1200px;
	margin: 80px auto 0;
	width: calc(65vw + 190px);
}
#profile_bar {
	position: fixed;
	width: 176px;
}
#profile_bar div {
	background: rgba(0,0,0,.83);
	padding: 30px;
	margin-bottom: 10px;
	text-align: center;
	color: white;
}

h2 {
	font-size: 20px;
}

#profile_bar div img {
	display: block;
	margin: auto;
	margin-bottom: 10px;
}

.mat-form-field {
	width: auto;
	flex: 1;
}

.main-container {
	height: calc(100vh - 110px);
	overflow: auto;
	width: 65vw;
	margin-top: 30px;
	max-width: 780px;
	left: 190px;
	position: relative;
}

#search_bar {
	position: fixed;
	color: white;
	top: 80px;
	width: inherit;
	max-width: 780px;
	background: rgba(0,0,0,.83);
    height: 80px;
    align-items: center;
}

#search_bar *{
	margin: 0px 5px;
	vertical-align: top;
}

#textInput {
	flex: 10;
	height: 30px;
}

button {
    height: 30px;
    cursor: pointer;
    width: 100px;
    background: #0098af;
    align-items: center;
    color: white;
    justify-content: center;
    border:none;
}

.dropbtn {
	background-color: #4b1900;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
	position: absolute;
	background-color: white;
	border: 3px solid #4b1900;
}

.col a {
	display: block;
	color: black;
	padding: 12px 16px;
    text-decoration: none;
}

.mid {
	border-left: 2px solid #4b1900;
	border-right: 2px solid #4b1900;
}

#job_feed {
	margin-top: 50px;
}
.job_cell {
	padding: 10px 20px;
	background-color: white;
	width: 100%;
}

.checkbox_div *{
	display: inline-block;
}

@media screen and (max-width: 500px) {

	nav {
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		height: 70px;
	}

	nav img {
		margin: 0;
		height: 40px;
	}

	#content {
		width: 100vw;
	}

	#search_bar {
		position: fixed;
		top: 70px;
		width: 100%;
		justify-content: space-around;
		display: flex;
		z-index: 10;
		height: 60px;
		align-items: center;
	}

	#search_bar * {
		margin: 0 3px;
	}

	#profile_bar {
		display: none;
	}

	.main-container {
		position: relative;
		width: 100%;
		padding: 0;
		padding-top: 30px;
		left: 0;
	}

	#job_feed {
		position: relative;
		top: 0;
		margin: 0;
		width: 100%;
	}
}