.alert {
    top: -6px;
    position: absolute;
}
.err {
    color: rgb(211, 29, 29);
}

form {
    width: 80%;
    align-items: center;
    margin: 15px auto 0;
}

.submit-register {
    height: 30px;
    cursor: pointer;
    width: 100px;
    background: #1592aa;
    align-items: center;
    color: white;
    justify-content: center;
}

.accept { align-items: center; margin-top: 5px; }
