form {
    width: 80%;
    align-items: center;
    margin: 15px auto 0;
}

.submit-register {
    height: 30px;
    cursor: pointer;
    width: 100px;
    background: #1592aa;
    align-items: center;
    color: white;
    justify-content: center;
    transition: all .2s ease;
}

.submit-register:hover {
    transform: translateY(-1px);
}

.submit-register:active {
    transform: translateY(1px);
}

.check { align-items: center; margin-bottom: 7px; }

label { margin-left: 5px; }

.accept { align-items: center; margin-top: 5px; }

.tip {
    position: absolute;
    color: red;
    bottom: 0;
}
