* {
    color: rgba(255,255,255,.7);
}

nav {
    height: 80px;
	position: fixed;
	top: 0;
	width: 100%;
	background: white;
	z-index: 10;
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
	align-items: center;
}

nav img {
	height: 60px;
}

.btn {
    height: 30px;
	cursor: pointer;
	font-size: .8rem;
    width: 100px;
    background: #1592aa;
    align-items: center;
    color: white;
    justify-content: center;
	transition: all .2s ease;
}

.btn:hover {
    transform: translateY(-1px);
}

.btn:active {
    transform: translateY(1px);
}

.select {
    align-items: center;
}

.listing-container {
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: url('../../assets/images/login-bg.png');
    background-repeat: no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    justify-content: center;
    overflow: hidden;
}

.form-wrapper {
    width: 60%;
    max-width: 600px;
    border-radius: 1px;
    padding: 20px 30px;
    background: rgba(0,0,0,.83);
    position: relative;
    color: white;
    max-height: calc(100vh - 80px);
    overflow-y: auto;    
}

form {
    width: 80%;
    height: 100%;
    align-items: center;
    margin: 15px auto 0;
}

.wrapper {
    width: 100%;
}

/* .check-container {
    justify-content: space-between;
} */

.form-group {
    width: 100%;
    margin-bottom: 15px;
    position: relative;
}

.form-group-header {
    font-size: 15px;
}

select {
    height: 20px;
    flex: 1;
    margin-left: 10px;
}

label {
    font-size: 16px;
    color: #999999;
}

.mat-form-field {
    width: 100%;
}

.mat-form-field.exp input {
    width: 50px;
}

.mat-form-field.exp span {
    position: relative;
    left: calc(100% - 100px);
}

.check-container {
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group {
    margin-bottom: 15px;
}

.form-group-header {
    margin-bottom: 6px;
    color: rgba(255,255,255,.7);
}

.mat-fab {
    height: 40px;
    width: 80px;
    padding: 5px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: all .2s ease;
    cursor: pointer;
}

.mat-fab:hover {
    background: #1592aa !important;
    opacity: .7;
}

.mat-fab:hover {
    background: #1592aa !important;
    opacity: .7;
}

.active {
    background: #1592aa !important;
}

.description {
    font-size: 16px;
    resize: none;
    height: 60px;
}

.submit-create {
    height: 30px;
    cursor: pointer;
    width: 100px;
    background: #1592aa;
    align-items: center;
    color: white;
    justify-content: center;
}

.accept { align-items: center; margin-top: 5px; }

@media screen and (max-width: 700px) {
    .form-wrapper {
        width: 90%;
    }
}