* {
    color: rgba(255,255,255,.7);
}

nav {
    height: 80px;
	position: fixed;
	top: 0;
	width: 100%;
	background: white;
	z-index: 10;
	justify-content: space-between;
	padding: 0 10px;
	align-items: center;
}

nav img {
	height: 60px;
}

.btn {
	cursor: pointer;
    width: 100px;
    background: #1592aa;
    color: white;
	transition: all .2s ease;
}

.btn:hover {
    transform: translateY(-1px);
}

.btn:active {
    transform: translateY(1px);
}

.select {
    align-items: center;
}

.listing-container {
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);
    margin-top: 80px;
    width: 100vw;
    overflow: hidden;
    background: url('../../assets/images/newuser-bg.png');
    background-repeat: no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.form-wrapper {
    width: 90%;
    overflow: auto;
    max-height: calc(100vh - 120px);
    height: 605px;
    border-radius: 1px;
    max-width: 700px;
    padding: 20px 30px;
    justify-content: center;
    background: rgba(0,0,0,.83);
    position: relative;
    color: white;
    align-items: center;
}

form {
    width: 90%;
    align-items: center;
    margin: 15px auto 0;
    min-height: 790px;
    position: absolute;
    top: 0;
}

.wrapper {
    width: 100%;
}

.check-container {
    justify-content: space-between;
}

.form-group {
    width: 100%;
    margin-bottom: 15px;
    position: relative;
}

.form-group-header {
    font-size: 15px;
}

label {
    font-size: 16px;
    color: #999999;
}

.mat-form-field {
    width: 100%;
}

.mat-form-field.exp input {
    width: 50px;
}

.mat-form-field.exp span {
    position: relative;
    left: calc(100% - 100px);
}

.check-container {
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group {
    margin-bottom: 15px;
}

.form-group-header {
    margin-bottom: 6px;
    color: rgba(255,255,255,.7);
}

.mat-fab {
    height: 40px;
    width: 80px;
    padding: 5px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: all .2s ease;
    cursor: pointer;
}

.mat-fab:hover {
    background: #1592aa !important;
    opacity: .7;
}

.mat-fab:hover {
    background: #1592aa !important;
    opacity: .7;
}

.active {
    background: #1592aa !important;
}

.description {
    font-size: 16px;
    resize: none;
    height: 60px;
}

.accept { align-items: center; margin-top: 5px; }

@media screen and (max-width: 700px) {
    .form-wrapper {
        width: 90%;
    }
}