.welcome-wrapper {
    align-items: center;
}

.welcome {
    font-size: 22px;
    font-weight: bold;
}

form {
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 10px;
}

.start {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}

.photo-wrapper { cursor: pointer; padding-bottom: 1.25em; }

.photo-name-phone {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}

.photo-name-wrapper {
    margin-bottom: 10px;
}

.name-phone-wrapper {
    flex: 1;
    margin-left: 20px;
    overflow: hidden;
    justify-content: space-around;
}

.form-group-header {
    font-size: 1.05rem;
    margin-bottom: 6px;
    color: rgba(255,255,255,.7);
}

mat-form-field {
    width: 100%;
}

.bottom {
    align-items: center;
    height: 100px;
    justify-content: space-between;
}

.step-img-wrapper {
    justify-content: center;
}

.btn-wrapper {
    justify-content: space-around;
    width: 100%;
}

.btn {
    height: 30px;
    cursor: pointer;
    width: 100px;
    background: #1592aa;
    align-items: center;
    color: white;
    justify-content: center;
    transition: all .2s ease;
}

.btn:hover {
    transform: translateY(-1px);
}

.btn:active {
    transform: translateY(1px);
}

.not-now {
    font-size: 13px;
    color: rgba(255,255,255,.9);
}

@media screen and (max-width: 500px) {

    .photo-wrapper {
        width: 60px;
    }

    img.no-point {
        width: 60px;
    }
}
