<div class="main flex">
	<img src="../../assets/images/profile-icon.png">
	<div class="inner_text">
		<h2 class="title">{{job['title']}}</h2>
		<div class="company">{{job['company']}}</div>
		<div class="details">
			<div>Location: {{job['location']}}</div>
			<div>Shift: {{job['shift']}}</div>
			<div>Type: {{job['jobType']}}</div>
		</div>
		<p class="desc">{{job['description']}}</p>
		<ul *ngIf="!show">
			<li>Shift: {{job['shift']}}</li>
			<li>Accessible by public transportation: {{isAccessible}}</li>
		</ul>
	</div>
	<div class="right_side_nav">
		<button>Apply</button>
		<button>Message</button>
		<p *ngIf="show" class="toggle" (click)="toggle()">More</p>
		<p *ngIf="!show" class="toggle" (click)="toggle()">Less</p>
	</div>
</div>
