<div class="home-container flex">
    <div class="logo-wrap">
        <img class="logo" src="../../assets/images/TBP-Logo.png" alt="Logo">
    </div>
    <div [ngStyle]="{'height' : login ? '50vh' : '82vh'}" class="login-reg-wrapper flex column">
        <div [ngStyle]="{'margin-bottom' : login ? '0' : '25px'}"  class="links flex">
            <div (click)="handleClick('login')" class="link" [ngClass]="login ? 'active' : null" id="login">Login</div>
            <div (click)="handleClick('register')" class="link" [ngClass]="!login ? 'active' : null" id="register">Register</div>
        </div>
        <app-login *ngIf="login"></app-login>
        <app-register *ngIf="!login"></app-register>
    </div>
</div>