<nav>
	<div (click)="nav()" class="ham flex"><i class="fa fa-bars" aria-hidden="true"></i></div>	
	<img (click)="goHome()" class="TBP-Logo" src="../../assets/images/TBP-Logo.png" alt="logo">
	<button (click)="logout()" class="btn logout" mat-button>Logout</button>
</nav>
<section id="ap-home" class="main flex">
	<div [@slideAnimation] *ngIf="navState" class="nav-wrap">
		<app-side-nav (close)="nav()"></app-side-nav>
		<div class="close flex" (click)="nav()"><i class="fa fa-times" aria-hidden="true"></i></div>
	</div>
	<section class="content flex">
		<div class="profile_bar">
			<div class="pb-div flex column">
				<div class="name gray">{{user['firstName']}} {{user['lastName']}}</div>
				<img src="../../assets/images/profile-icon.png">
				<button class="btn" (click)="edit()" mat-button>Edit Profile</button>
			</div>
			<div class="pb-div flex gray center-text">
				<button class="btn" mat-button routerLink="jobs/applied">Applied</button>
			</div>			
		</div>
		<div class="main-container">
			<router-outlet></router-outlet>
		</div>
	</section>
</section>

