.home-container {
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);
	margin-top: 80px;
    width: 100vw;
    overflow: hidden;
    background: url('../../assets/images/login-bg.png');
    background-repeat: no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

nav {
    height: 80px;
	position: fixed;
	top: 0;
	width: 100%;
	background: white;
	z-index: 10;
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
	align-items: center;
}

nav img { height: 60px; }

.login-reg-wrapper {
    width: 55%;
    border-radius: 1px;
    padding: 20px 30px;
    max-height: calc(100vh - 120px);
    background: rgba(0,0,0,.83);
    position: absolute;
    top: 100px;
    color: rgba(255,255,255,.7);
    align-items: center;
    max-width: 500px;
    overflow-y: auto;    
}

#login {
    margin-right: 30px;
}

.links { width: 70%; cursor: pointer; }

.link {
    font-size: 17px;
    font-weight: bold;
    height: 31px;
}

.active {
    border-bottom: 3px solid #1592aa;
}

app-register, app-login { width: 100%; }

@media screen and (max-width: 700px) {

    .logo-wrap {
        left: auto;
    }

    .logo {
        height: 40px;
    }

    .login-reg-wrapper {
        width: 90%;
    }
}

a { 
    color: #1592aa;
}