* {
    color: rgba(255,255,255,.7);
}

.filter-wrapper {
    background: rgba(0,0,0,.83);
    padding-bottom: 7px;
}
.wrapper, .check-container, .form-group {
    justify-content: space-around;
    margin: 0 auto;
}

.form-group { width: 90%; }

.form-group-header { flex: 1; align-items: center; }

.wrapper { padding: 8px 0; }

.mat-form-field { width: 90%; }

.wrapper { width: 100%; }

.availability-wrapper { margin-top: 0; }

.check-container, .check-wrapper { align-items: center; }

.mat-form-field { margin: 0 auto; }

.mat-fab {
    height: 50px;
    max-width: 50px;
    width: 50px;
    margin-right: 10px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: all .2s ease;
    cursor: pointer;
    font-size: .7rem;
}

.mat-fab:hover {
    background: #1592aa !important;
    opacity: .7;
}

.active {
    background: #1592aa !important;
}

@media screen and (max-width: 500px) {
    .mat-fab {
        height: 30px;
        max-width: 30px;
        width: 30px;
    }
}