<div class="filter-wrapper flex column">
	<mat-form-field>
		<input matInput type="search" placeholder="Location" name="location">
	</mat-form-field>
	<div class="availability-wrapper wrapper flex">
		<div class="form-group flex">
			<div class="form-group-header flex">Preferred Shift(s)</div>
			<div class="flex check-container">
				<div class="check-wrapper flex">
					<div (click)="shiftClick($event)" class="mat-fab flex" [ngClass]="first ? 'active' : ''" id="first">1st</div>
				</div>
				<div class="check-wrapper flex">
					<div (click)="shiftClick($event)" class="mat-fab flex" [ngClass]="second ? 'active' : ''" id="second">2nd</div>
				</div>
				<div class="check-wrapper flex">
					<div (click)="shiftClick($event)" class="mat-fab flex" [ngClass]="third ? 'active' : ''" id="third">3rd</div>
				</div>
			</div>
		</div>
	</div>
	<div class="job-type-wrapper wrapper flex">
		<div class="form-group flex">
			<div class="form-group-header flex">Job Type(s)</div>
			<div class="flex check-container">
				<div class="check-wrapper flex">
					<div (click)="shiftClick($event)" class="mat-fab flex" [ngClass]="ft ? 'active' : ''" id="ft">FT</div>
				</div>
				<div class="check-wrapper flex">
					<div (click)="shiftClick($event)" class="mat-fab flex" [ngClass]="pt ? 'active' : ''" id="pt">PT</div>
				</div>
				<div class="check-wrapper flex">
					<div (click)="shiftClick($event)" class="mat-fab flex" [ngClass]="temp ? 'active' : ''" id="temp">Temp</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-ck-wrapper wrapper flex">
		<div class="form-group flex">
			<div class="form-group-header flex">Background Check?</div>
			<div class="flex check-container">
				<div class="check-wrapper flex">
					<div (click)="shiftClick($event)" class="mat-fab flex" [ngClass]="bg === true ? 'active' : ''" id="bg">Yes</div>
				</div>
				<div class="check-wrapper flex">
					<div (click)="shiftClick($event)" class="mat-fab flex" [ngClass]="notBg === true ? 'active' : ''" id="no_bg">No</div>
				</div>
			</div>
		</div>
	</div>
</div>