<form #f="ngForm" class="flex column">
  <div class="location-lang-wrapper flex">
    <div class="form-group flex column">
      <div class="form-group-header">Location</div>
      <input [(ngModel)]="user.location" #location="ngModel" type="text" name="location" placeholder="e.g. Berkeley, CA">
    </div>
    <div class="form-group flex column">
      <div class="form-group-header">Languages</div>
      <input [(ngModel)]="user.language" #location="ngModel" type="text" name="languages" placeholder="e.g. English, Spanish">
    </div>
  </div>
  <div class="availability-wrapper">
    <div class="form-group flex column">
      <div class="form-group-header">Availability</div>
      <div class="flex check-container">
          <div class="check-wrapper flex">
            <input [(ngModel)]="user.availability.morning" #availability="ngModel" id="morning" type="checkbox" name="morning">
            <label for="morning">Morning</label>
          </div>
          <div class="check-wrapper flex">
            <input [(ngModel)]="user.availability.noon" #availability="ngModel" id="noon" type="checkbox" name="noon">
            <label for="noon">Noon</label>
          </div>
          <div class="check-wrapper flex">
            <input [(ngModel)]="user.availability.night" #availability="ngModel" id="night" type="checkbox" name="night">
            <label for="Night">Night</label>
          </div>
          <div class="check-wrapper flex">
            <input [(ngModel)]="user.availability.graveyard" #availability="ngModel" id="graveyard" type="checkbox" name="graveyard">
            <label for="Graveyard">Graveyard</label>
          </div>
      </div>
    </div>
  </div>
  <div class="job-type-wrapper">
    <div class="form-group flex column">
      <div class="form-group-header">Job Type</div>
      <div class="flex check-container">
          <div class="check-wrapper flex">
            <input [(ngModel)]="user.jobType.fullTime" #jobType="ngModel" id="fullTime" type="checkbox" name="fullTime">
          <label for="morning">Full Time</label>
          </div>
          <div class="check-wrapper flex">
            <input [(ngModel)]="user.jobType.partTime" #jobType="ngModel" id="partTime" type="checkbox" name="partTime">
          <label for="noon">Part Time</label>
          </div>
          <div class="check-wrapper flex">
            <input [(ngModel)]="user.jobType.temp" #jobType="ngModel" id="temporary" type="checkbox" name="temp">
          <label for="Night">Temporary</label>
          </div>
        </div>
    </div>
  </div>
</form>
<div class="bottom flex column">
    <div class="btn-wrapper flex">
        <div (click)="back()" class="back-btn btn flex">Back</div>
        <div (click)="handleClick()" class="next-btn btn flex">Next</div>
    </div>
  <div class="step-img-wrapper flex">
    <img src="../../assets/images/step_2.png" alt="2">
  </div>
  <div class="not-now">Not now</div>
</div>