<form [formGroup]="userForm" class="flex column">
  <div class="location-lang-wrapper flex">
    <mat-form-field>
      <input matInput placeholder="City" name="city" formControlName="city">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Languages" name="languages" formControlName="languages">
    </mat-form-field>
  </div>
  <div formGroupName="availability" class="availability-wrapper">
    <div class="form-group flex column">
      <div class="form-group-header">Availability</div>
      <div class="flex check-container">
          <div class="check-wrapper flex">
            <input formControlName="morning" id="morning" type="checkbox" name="morning">
            <label for="morning">Morning</label>
          </div>
          <div class="check-wrapper flex">
            <input formControlName="noon" id="noon" type="checkbox" name="noon">
            <label for="noon">Noon</label>
          </div>
          <div class="check-wrapper flex">
            <input formControlName="night" id="night" type="checkbox" name="night">
            <label for="night">Night</label>
          </div>
          <div class="check-wrapper flex">
            <input formControlName="graveyard" id="graveyard" type="checkbox" name="graveyard">
            <label for="graveyard">Graveyard</label>
          </div>
      </div>
    </div>
  </div>
  <div formGroupName="jobType" class="job-type-wrapper">
    <div class="form-group flex column">
      <div class="form-group-header">Job Type</div>
      <div class="flex check-container">
          <div class="check-wrapper flex">
            <input formControlName="fullTime" id="fullTime" type="checkbox" name="fullTime">
            <label for="fullTime">Full Time</label>
          </div>
          <div class="check-wrapper flex">
            <input formControlName="partTime" id="partTime" type="checkbox" name="partTime">
          <label for="noon">Part Time</label>
          </div>
          <div class="check-wrapper flex">
            <input formControlName="temp" id="temporary" type="checkbox" name="temp">
          <label for="Night">Temporary</label>
          </div>
        </div>
    </div>
  </div>
</form>
<div class="bottom flex column">
    <div class="btn-wrapper flex">
      <div (click)="back()" class="back-btn btn flex">Back</div>
      <div (click)="handleClick()" class="next-btn btn flex">Next</div>
    </div>
  <div class="step-img-wrapper flex">
    <img src="../../assets/images/step_2.png" alt="2">
  </div>
  <div class="not-now">Not now</div>
</div>