.start {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

form {
    justify-content: space-around;
    position: relative;
    margin-top: 10px;
}

.location-lang-wrapper {
    justify-content: space-between;
}

.check-container {
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group {
    margin-bottom: 15px;
}

.form-group-header {
    margin-bottom: 6px;
    color: rgba(255,255,255,.7);
}

.mat-fab {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: all .2s ease;
    cursor: pointer;
}

.mat-fab:hover {
    background: #1592aa !important;
    opacity: .7;
}
.active {
    background: #1592aa !important;
}

.check-wrapper {
    margin-bottom: 10px;
    align-items: center;
}

label {
    margin-left: 5px;
    color: rgba(255,255,255,.7);
}

.bottom {
    align-items: center;
    height: 100px;
    justify-content: space-between;
}

.step-img-wrapper {
    justify-content: center;
}

.btn-wrapper {
    justify-content: space-around;
    width: 100%;
}

.btn {
    height: 30px;
    cursor: pointer;
    width: 100px;
    background: #1592aa;
    align-items: center;
    color: white;
    justify-content: center;
    transition: all .2s ease;
}

.btn:hover {
    transform: translateY(-1px);
}

.btn:active {
    transform: translateY(1px);
}

.not-now {
    font-size: 13px;
    color: rgba(255,255,255,.9);
}

@media screen  and (max-width: 500px) {

    .location-lang-wrapper { flex-direction: column; }

    .mat-fab {
        height: 35px;
        width: 35px;
        font-size: .7rem;
    }
    .form-group {
        margin-bottom: 5px;
    }
    
}