.location-lang-wrapper {
    justify-content: space-between;
}

form {
    justify-content: space-around;
    min-height: 300px;
    position: relative;
}

.check-container {
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group-header {
    margin-bottom: 5px;
}

.check-wrapper {
    margin-bottom: 10px;
    align-items: center;
}

label { margin-left: 5px; }

input[type="text"] {
    height: 18px;
    outline: none;
    background: transparent;
    color: white;
    margin-top: 5px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid white;
}

.bottom {
    align-items: center;
    height: 100px;
    justify-content: space-between;
}

.step-img-wrapper {
    justify-content: center;
}

.next-btn {
    height: 30px;
    cursor: pointer;
    width: 100px;
    background: #00c9b3;
    align-items: center;
    color: white;
    justify-content: center;
}

.not-now {
    font-size: 13px;
    color: rgba(255,255,255,.9);
}

@media screen  and (max-width: 500px) {
    .location-lang-wrapper { flex-direction: column; }
}