<div class="welcome-wrapper flex column">
  <div class="start">What skills and experience do you have?</div>
</div>
<form [formGroup]="userForm" class="flex column">
  <mat-form-field>
    <textarea matInput placeholder="Skills" formControlName="skillsSet"></textarea>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="Experience" name="experience" formControlName="experience">
  </mat-form-field>
</form>
<div class="bottom flex column">
    <div class="btn-wrapper flex">
        <div (click)="back()" class="back-btn btn flex">Back</div>
        <div (click)="handleClick()" class="next-btn btn flex">Finish</div>
    </div>
  <div class="step-img-wrapper flex">
    <img src="../../assets/images/step_3.png" alt="3">
  </div>
  <div class="not-now">Not now</div>
</div>