<div class="welcome-wrapper flex column">
    <div class="start">Give us some details about your ideal job</div>
  </div>
<form [formGroup]="userForm" class="flex column">
  <div class="location-lang-wrapper flex">
    <mat-form-field>
      <input matInput placeholder="City" name="city" formControlName="city">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Languages" name="languages" formControlName="languages">
    </mat-form-field>
  </div>
  <div class="availability-wrapper">
    <div class="form-group flex column">
      <div class="form-group-header">Preferred Shift(s)</div>
      <div class="flex check-container">
          <div class="check-wrapper flex">
              <div (click)="shiftClick($event)" class="mat-fab flex" [ngClass]="morning ? 'active' : ''" id="morning">Morning</div>
          </div>
          <div class="check-wrapper flex">
              <div (click)="shiftClick($event)" class="mat-fab flex" [ngClass]="noon ? 'active' : ''" id="noon">Noon</div>
          </div>
          <div class="check-wrapper flex">
              <div (click)="shiftClick($event)" class="mat-fab flex" [ngClass]="night ? 'active' : ''" id="night">Night</div>
          </div>
          <div class="check-wrapper flex">
              <div (click)="shiftClick($event)" class="mat-fab flex" [ngClass]="graveyard ? 'active' : ''" id="graveyard">Graveyard</div>
          </div>
      </div>
    </div>
  </div>
  <div class="job-type-wrapper">
    <div class="form-group flex column">
        <div class="form-group-header">Preferred Job Type(s)</div>
        <div class="flex check-container">
            <div class="check-wrapper flex">
                <div (click)="shiftClick($event)" class="mat-fab flex" [ngClass]="ft ? 'active' : ''" id="ft">FT</div>
            </div>
            <div class="check-wrapper flex">
                <div (click)="shiftClick($event)" class="mat-fab flex" [ngClass]="pt ? 'active' : ''" id="pt">PT</div>
            </div>
            <div class="check-wrapper flex">
                <div (click)="shiftClick($event)" class="mat-fab flex" [ngClass]="temp ? 'active' : ''" id="temp">Temp</div>
            </div>
        </div>
    </div>
  </div>
</form>
<div class="bottom flex column">
    <div class="btn-wrapper flex">
      <button (click)="back()" class="back-btn btn" mat-button>Back</button>
      <button (click)="handleClick()" class="next-btn btn" mat-button>Next</button>     
    </div>
  <div class="step-img-wrapper flex">
    <img src="../../assets/images/step_2.png" alt="2">
  </div>
  <div class="not-now">Not now</div>
</div>