.form-group {
    margin-bottom: 15px;
}

.form-group-header {
    font-size: 20px;
    font-weight: bold;
}

input {
        outline: none;
        background: transparent;
        border: none;
        border-bottom: 1px solid white;
        width: 70%;
    }

.submit-register {
    height: 25px;
    width: 75px;
    background: blue;
    align-items: center;
    color: white;
    justify-content: center;
}