<div>
	<form #form="ngForm">
		<div>
			<h2>Full Name</h2>
			<input type="text" name="full_name" required >
		</div>
		<div>
			<h2>Email</h2>
			<input type="email" name="email" required>
		</div>
		<div>
			<h2>Case File ID</h2>
			<input type="text" name="case_file_id" required>
		</div>
		<div>
			<h2>Password</h2>
			<input type="password" name="pass" required>
		</div>
		<div>
			<h2>Confirm Password</h2>
			<input type="password" name="con_pass" required>
		</div>
		<div>
			<input type="checkbox" name="accept" required>
			<p>Accept <a href="">terms</a> and agreement</p>
		</div>
		<div>
			<button (click)="">Register</button>
		</div>
	</form>
</div>