<div>
	<form>
		<div class="form-group flex column">
			<div class="form-group-header">Full Name</div>
			<input type="text" name="full_name" required >
		</div>
		<div class="form-group flex column">
			<div class="form-group-header">Email</div>
			<input type="email" name="email" required>
		</div>
		<div class="form-group flex column">
			<div class="form-group-header">Case File ID</div>
			<input type="text" name="case_file_id" required>
		</div>
		<div class="form-group flex column">
			<div class="form-group-header">Password</div>
			<input type="password" name="pass" required>
		</div>
		<div class="form-group flex column">
			<div class="form-group-header">Confirm Password</div>
			<input type="password" name="con_pass" required>
		</div>
		<div class="form-group flex column">
			<input type="checkbox" name="accept" required>
			<p>Accept <a href="">terms</a> and agreement</p>
		</div>
		<div>
			<div class="submit-register flex">Register</div>
		</div>
	</form>
</div>