<div class="jobs-wrapper">
	<form [formGroup]="searchForm">
		<div class="search-bar flex">
			<mat-form-field>
				<input matInput #searchEl type="search" placeholder="Search" formControlName="search" name="search">
			</mat-form-field>
			<div class="icons flex">
				<div (click)="handleSearch()" class="flex caret-wrapper mag">
					<i class="fa fa-search" aria-hidden="true"></i>
				</div>
				<div (click)="searchClick()" class="flex caret-wrapper caret">
					<i class="fa fa-caret-down" id="caret" aria-hidden="true"></i>
				</div>
			</div>
		</div>
	</form>
	<div class="filter-menu" [@filterSlide] *ngIf="search">
		<app-filter (loc)="handleLoc($event)" (val)="handleVal($event)"></app-filter>
	</div>
	<div id="job_feed">
		<p *ngIf="displayJobs">Hello</p>
		<app-job-cell *ngFor="let job of jobs" [job]="job"></app-job-cell>
		}
	</div>
</div>