<nav class="flex">
	<img class="TBP-Logo" src="../../assets/images/TBP-Logo.png" alt="logo">
	<div (click)="logout()" class="lg-btn btn flex logout">Logout</div>
</nav>
<div class="edit-profile-container flex column">
  <!-- <div class="header">Edit Profile</div> -->
  <div class="main-wrapper flex column">
    <div class="form-wrapper flex column">
      <form [formGroup]="userForm" class="flex column">
        <div class="form-top flex">
          <div class="form-top-left flex column">
            <div classs="photo-wrapper">
              <img class="no-point" [src]="img" alt="Profile Photo">
            </div>
            <div class="change-photo btn flex">Change Photo</div>
            <div class="resume btn flex">
              <input (change)="handleFiles($event)" id="resume" type="file" hidden />
              <label class="flex res-lbl" for="resume">Upload Resume</label>
            </div>
          </div>
          <div class="form-top-right">
            <div class="name-phone-wrapper flex column">
              <div class="name-wrapper flex">
                <mat-form-field>
                  <input matInput placeholder="First Name" name="firstName" formControlName="firstName">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Last Name" name="lastName" formControlName="lastName">
                </mat-form-field>
              </div>
              <div class="name-wrapper flex">
                <mat-form-field>
                  <input matInput placeholder="Phone Number" name="phone" formControlName="phoneNumber" >
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Email" name="email" formControlName="email">
                </mat-form-field>
              </div>
            </div>    
          </div>
        </div>
        <div class="av-wrapper flex">
          <div class="form-group flex column">
            <div class="form-group-header">Preferred Shift(s)</div>
            <div class="flex check-container">
                <div class="check-wrapper flex">
                    <div (click)="shiftClick($event)" class="mat-fab flex" [ngClass]="first ? 'active' : ''" id="first">1st</div>
                </div>
                <div class="check-wrapper flex">
                    <div (click)="shiftClick($event)" class="mat-fab flex" [ngClass]="second ? 'active' : ''" id="second">2nd</div>
                </div>
                <div class="check-wrapper flex">
                    <div (click)="shiftClick($event)" class="mat-fab flex" [ngClass]="third ? 'active' : ''" id="third">3rd</div>
                </div>
            </div>
          </div>
        </div>
        <div class="jt-wrapper flex">
          <div class="form-group flex column">
              <div class="form-group-header">Preferred Job Type(s)</div>
              <div class="flex check-container">
                  <div class="check-wrapper flex">
                      <div (click)="shiftClick($event)" class="mat-fab flex" [ngClass]="ft ? 'active' : ''" id="ft">FT</div>
                  </div>
                  <div class="check-wrapper flex">
                      <div (click)="shiftClick($event)" class="mat-fab flex" [ngClass]="pt ? 'active' : ''" id="pt">PT</div>
                  </div>
                  <div class="check-wrapper flex">
                      <div (click)="shiftClick($event)" class="mat-fab flex" [ngClass]="temp ? 'active' : ''" id="temp">Temp</div>
                  </div>
              </div>
          </div>
        </div>
        <div class="form-bottom flex column">
          <mat-form-field>
            <textarea matInput placeholder="Skills" name="skillsSet" formControlName="skillsSet"></textarea>
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="Experiences (titles and descriptions)" name="experiences" formControlName="experiences"></textarea>
          </mat-form-field>
        </div>
      </form>
      <div class="bottom flex">
        <div (click)="backButton()" class="back-btn btn flex">Back</div>
        <div (click)="handleClick()" class="save-btn btn flex">Save</div>
      </div>
    </div>
  </div>
</div>