* {
    color: rgba(255,255,255,.7);
}

nav {
    height: 80px;
	position: fixed;
	top: 0;
	width: 100%;
	background: transparent;
	z-index: 10;
	justify-content: space-between;
	padding: 0 10px;
	align-items: center;
}

nav img {
	height: 60px;
}

.edit-profile-container {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    padding: 15px 35px;
    justify-content: center;
    overflow: hidden;
}

.logo-wrap {
    position: absolute;
    top: 10px;
    left: 30px;
    height: 50px;
}

.logo { height: 40px; }

.msg {
    position: absolute;
    width: 100%;
    z-index: 100;
    top: 0;
    height: 35px;
    justify-content: center;
    align-items: center;
}

.close {
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.fa {pointer-events: none;}
.success { background: rgb(2, 143, 2); }
.failed { background: rgb(192, 1, 1); }

.main-wrapper {
    min-height: 500px;
    overflow: auto;
    position: relative;
    width: 80%;
    max-width: 700px;
}

.mat-form-field {
    margin-right: 10px;
}

.mat-fab {
    height: 40px;
    width: 80px;
    padding: 5px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: all .2s ease;
    cursor: pointer;
}

.mat-fab:hover {
    background: #1592aa !important;
    opacity: .7;
}

.active {
    background: #1592aa !important;
}

.header {
    font-size: 35px;
    font-weight: bold;
    margin-top: 15px;
    color: rgb(54, 54, 184);
    width: 100%;
    text-align: center;
}

.gap { margin-right: 15px; }

.form-wrapper {
    width: 100%;
    overflow: auto;
    height: calc(100vh - 80px);
    border-radius: 1px;
    padding: 20px 30px;
    justify-content: center;
    background: rgba(0,0,0,.83);
    position: relative;
    color: white;
    align-items: center;
}

.form-top, .form-bottom {
    width: 100%;
}

.form-bottom * {
    width: 100%;
}

.photo-wrapper {
    width: 109px;
}

.form-top-left {
    align-items: center;
    margin-right: 20px;
    padding-top: 1em;
}

.check-container {
    flex-wrap: wrap;
    justify-content: space-between;
}

form {
    width: 90%;
    align-items: center;
    margin: 15px auto 0;
}

.form-group-header {
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
}

.check-wrapper {
    margin: 0 10px 10px 0;
    align-items: center;
}

.form-group {
    width: 90%;
    margin: 0 auto 5px;
    position: relative;
}

.av-wrapper, .jt-wrapper {
    width: 100%;
    justify-content: space-around;
}

.submit-register {
    height: 30px;
    cursor: pointer;
    width: 100px;
    background: #1592aa;
    align-items: center;
    color: white;
    justify-content: center;
}

.accept { align-items: center; margin-top: 5px; }

.btn {
    height: 25px;
    cursor: pointer;
    width: 113px;
    font-size: 12px;
    background: #490000;
    align-items: center;
    color: rgba(255,255,255,.7);
    justify-content: center;
    margin: 0 auto 5px;
    transition: all .2s ease;
}

.lg-btn {
    height: 30px;
	font-size: .8rem;
    width: 100px;
    margin: 0;
    background: #1592aa;
}

.res-lbl {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.skills, .experiences {
    padding: 7px;
    font-size: 12px;
    color: rgba(0,0,0,.5);
    resize: none;
}

.skills {
    height: 60px;
}

.btn:hover {
    transform: translateY(-1px);
}

.btn:active {
    transform: translateY(1px);
}

.back-btn, .save-btn {
    background: #1592aa;
    margin-right: 40px;
}

@media screen and (max-width: 800px) {

    .form-wrapper, .edit-profile-container {
        padding: 0;
    }

    .logo-wrap {
        position: relative;
        left: auto;
        margin-bottom: 10px;
    }

    .mat-form-field {
        width: 40% !important;
    }

    .mat-fab {
        height: 35px;
        width: 60px;
        font-size: .7rem;
    }

}

@media screen  and (max-width: 630px) {

    .form-top-right {
        flex: 1;
    }
    .name-wrapper {
        flex-direction: column;
    }

    .mat-form-field {
        width: 100% !important;
    }
}
