.jobs-wrapper {
    height: calc(100vh - 150px);
    overflow: auto;
    width: 65vw;
    max-width: 780px;
    position: relative;
}

.mat-form-field {
	width: auto;
	flex: 1;
}

.btn {
    height: 30px;
	cursor: pointer;
	font-size: .8rem;
    width: 100px;
    background: #1592aa;
    align-items: center;
    color: white;
    justify-content: center;
	transition: all .2s ease;
}

.btn:hover {
    transform: translateY(-1px);
}

.btn:active {
    transform: translateY(1px);
}


form {
	position: fixed;
	width: inherit;
	max-width: 780px;
	top: 100px;
}

.search-bar {
	position: fixed;
	color: rgba(255,255,255,.7);
	width: inherit;
	max-width: 780px;
	background: rgba(0,0,0,.83);
	padding: 10px;
	padding-left: 3%;
	align-items: center;
	cursor: pointer;
	height: 70px;
	z-index: 10;
	justify-content: flex-start;
}

.caret-wrapper {
	cursor: pointer;
	height: 30px;
	width: 30px;
	align-items: center;
	justify-content: center;
}

.filter-menu {
	transform-origin: top;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	height: 250px;
	top: 170px;
	width: inherit;
	max-width: 780px;
	position: fixed;
}

#mobile_search .mat-form-field { 
	max-width: 600px;
 }

.icons {
	max-width: 180px;
	margin-left: 20px;
	justify-content: space-around;
}

.fa { font-size: 24px; pointer-events: none; }

.mag { margin-right: 20px; }

#textInput {
	flex: 10;
	height: 30px;
}

.job_cell {
	padding: 10px 20px;
	background-color: white;
	width: 100%;
}
@media screen and (max-width: 700px) {

	#mobile_search {
		display: flex;
		position: fixed;
		top: 70px;
		z-index: 10;
		justify-content: flex-start;
		padding-left: 5%;
	}

	.jobs-wrapper {
		width: 100vw;
	}

	.search-bar { top: 70px; }

	.filter-menu {
		position: fixed;
		top: 150px;
		width: 100%;
		z-index: 10;
    }

    #job_feed {
		position: relative;
		top: 0;
		margin: 0;
		width: 100%;
	}
}