<div class="jobs-wrapper">
  <form [formGroup]="searchForm">
    <div class="search-bar flex">
      <mat-form-field>
        <input matInput #searchEl type="search" placeholder="Search" formControlName="search" name="search">
      </mat-form-field>
      <div class="icons flex">
        <div class="flex caret-wrapper mag">
          <i class="fa fa-search" aria-hidden="true"></i>
        </div>
        <div class="flex caret-wrapper caret">
          <i class="fa fa-caret-down" id="caret" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </form>
  <div class="filter-menu" *ngIf="search">
    <app-filter></app-filter>
  </div>
  <div id="job_feed">
    <app-applicant-cell *ngFor="let applicant of applicants" [applicant]="applicant"></app-applicant-cell>
  </div>
</div>