form {
    width: 80%;
    align-items: center;
    margin: 15px auto 0;
}

.form-group {
    width: 100%;
    margin-bottom: 15px;
    position: relative;
}

.form-group-header {
    font-size: 15px;
    font-weight: bold;
}

.mat-focused {
    color: white !important;    
}

.submit-login {
    height: 30px;
    cursor: pointer;
    width: 100px;
    background: #1592aa;
    align-items: center;
    color: white;
    justify-content: center;
    margin-top: 10px;
}
