form {
    width: 80%;
    align-items: center;
    margin: 15px auto 0;
}

.mat-focused {
    color: white !important;    
}

.submit-login {
    height: 30px;
    cursor: pointer;
    width: 100px;
    background: #1592aa;
    align-items: center;
    color: white;
    justify-content: center;
    margin-top: 10px;
    transition: all .2s ease;
}

.submit-login:hover {
    transform: translateY(-1px);
}

.submit-login:active {
    transform: translateY(1px);
}
