<form #f="ngForm" class="flex column">
	<div class="form-group flex column">
		<div class="form-group-header">Email</div>
		<input [(ngModel)]="user['email']" #email="ngModel" type="email" name="email" required>
	</div>
	<div class="form-group flex column">
		<div class="form-group-header">Password</div>
		<input [(ngModel)]="user['pass']" #password="ngModel" type="password" name="pass" required>
	</div>
	<div>
		<div (click)="login(f.value)" class="submit-login flex">Login</div>
	</div>
</form>