<section class="sn flex column">
	<div class="pb-div flex">
		<!-- <div class="name gray">{{user['firstName']}} {{user['lastName']}}</div> -->
	</div>
	<div class="img-div flex">
		<img src="../../assets/images/profile-icon.png">
	</div>
	<div class="pb-div flex gray" (click)="close.emit()" routerLink="/applicant">Home</div>
	<div class="pb-div flex gray" (click)="close.emit()" routerLink="profile/edit">Edit Profile</div>
	<div class="pb-div flex gray" (click)="close.emit()" routerLink="jobs/applied">Applied Jobs</div>
</section>